<!DOCTYPE html>
<html lang="en" ng-app="bookstoreproject">
<head>
    <meta http-equiv="Content-Security-Policy" script-src='unsafe-inline';>
    <title>A proper Angular HelloWorld app </title>
    <link href="css/main.css" rel="stylesheet">
    <script src="js/scripts.js"></script>
    <script src="../js/components/home.component.js"></script>
</head>
<body>
    
    <home></home>
    <div class="row" style="width:420px; left:20px; display: inline-block; margin-right: 40px;">
    <div class="col s12 m4" style="width:100%;">

</body>

</html>