.book_text {
    display : flex;
    padding-top: 29px;
    padding-inline-start: 139px;
    font-size: 22px;
    font-family: Roboto;
 }
 .card {
   /* Add shadows to create the "card" effect */
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
 }
 
 /* On mouse-over, add a deeper shadow */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 
 /* Add some padding inside the card container */
 .container {
   padding: 2px 16px;
 }

.main_card {
    
    height:        297px;
    width        : 207px;
    background   : #FFFFFF 0% 0% no-repeat padding-box;
    border       : 1px solid #E2E2E2;
    border-radius: 3px;
    opacity      : 1;
    padding-top  : 0px;
    cursor       : pointer;
 }
 
 .book_img {
    height: 135px;
    width : 87px;
 }
 
 .book_image {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 172px;
    background-color: #F5F5F5;
    margin-left     : -16px;
    margin-right    : -16px;
    margin-top      : 0px;
 }
 
.alinebody{
   background-color: #388E3C;
}
 .body {
    display      : flex;
    flex-flow    : row wrap;
    box-sizing   : border-box;
    place-content: center;
    align-items  : center;
    gap          : 62px;
    position: absolute;
    padding: 36px 98px;
 }
 

 .book_name{
    padding: 10px 0px 4px 0px;
    font-family: 'Roboto';
    font-size: 13px;
    top: 327px;
    left: 191px;
    width: 130px;
    height: 19px;

 }
 .author_name{
   padding: 2px 0px 4px 0px;
   font-family: "Roboto";
   font-size: 13px;
   text-align: left;
 }
 
 

 