html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.book_text {
    display : flex;
    padding-top: 29px;
    padding-inline-start: 139px;
    font-size: 22px;
    font-family: Roboto;
 }
 .header {
    height: 60px;
    background: #A03037 0% 0% no-repeat padding-box;
    opacity: 1;
    
  }
  
  .image {
    margin-left: 130px;
  
    
  }
  .bookstore{
    margin-left: 7px;
    color:white;
    font-size: 22px
  }
  .search{
    margin-left: 45px;
    color:white;
    padding-left: 10px;
    font-size: 12px;
    margin-top: 0px;
    width: 490px;
    height: 33px;
    border-radius:3px;
    border-width: 0ch;
  }
  .row-head{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
  }
  .person{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    color: white;
    
      margin-left:5px;
      font-size: 20px;
    }
  
  .cart{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    color: white;
    
  }
  .label{
    font-family:Roboto;
    font-size: 10px;
  }